@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<button class="btn btn-primary"><a class="text-decoration-none " style="color:white" href="/Home/GetTemp">User name</a></button>
<br />
<br />
<button class="btn btn-primary"><a class="text-decoration-none " style="color:white" href="/Home/session">session name</a></button>